<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	 
	<th:block layout:fragment="customTitle">
		<title>로그인화면</title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<form th:action="@{/login}" method="post">
			<table border="1">
				<tbody>
					<tr>
						<td>아이디</td>
						<td><input type="text" name="memberId"></td>
					</tr>
					<tr>
						<td>비밀번호</td>
						<td><input type="text" name="memberPw"></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;"><button type="submit">로그인</button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</th:block>
</html>