<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	 
	<th:block layout:fragment="customTitle">
		<title>상품등록</title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<form th:action="@{/addGoods}" method="post">
			<table border="1">
				<tbody>
					<tr>
						<td>아이디</td>
					 	<td>
					 		<input th:if="${session.SLEVEL == '판매자'}" type="text" name="goodsSellerId" th:value="${session.SID}">
					 		<select th:if="${session.SLEVEL == '관리자'}" name="goodsSellerId" style="width :100%;">
					 			<option>::판매자 목록::</option>
					 			<th:block th:if="${#lists.size(sellerList) > 0}" th:each="l : ${sellerList}">
					 				<option th:value="${l.memberId}">[[${l.memberId}]]</option>
					 			</th:block>
					 		</select>
					 	</td>
					</tr>
					<tr>
						<td>상품명</td>
						<td><input type="text" name="goodsName"></td>
					</tr>
					<tr>
						<td>상품가격</td>
						<td><input type="text" name="goodsPrice"></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;"><button type="submit">상품등록</button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</th:block>
</html>