<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	 
	<th:block layout:fragment="customTitle">
		<title>메인화면</title>
	</th:block>

	<th:block layout:fragment="customContents">
	<h3>회원가입</h3>
		<form th:action="@{/modifyMember}" method="post">
			<table border="1">
				<tbody>
					<tr>
						<td>아이디</td>
						<td><input type="text" name="memberId" th:value="${member.memberId}"></td>
					</tr>
					<tr>
						<td>비밀번호</td>
						<td><input type="text" name="memberPw" th:value="${member.memberPw}"></td>
					</tr>
					<tr>
						<td>이름</td>
						<td><input type="text" name="memberName" th:value="${member.memberName}"></td>
					</tr>
					<tr>
						<td>등급</td>
						<td>
							<select style="width: 100%" name="memberLevel">
								<option value="1" th:selected="${member.memberLevel eq 1}">관리자</option>
								<option value="2" th:selected="${member.memberLevel eq 2}">판매자</option>
								<option value="3" th:selected="${member.memberLevel eq 3}">구매자</option>
								<option value="4" th:selected="${member.memberLevel eq 4}">회원</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>이메일</td>
						<td><input type="text" name="memberEmail" th:value="${member.memberEmail}"></td>
					</tr>
					<tr>
						<td>주소</td>
						<td><input type="text" name="memberAddr" th:value="${member.memberAddr}"></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;"><button type="submit">회원수정</button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</th:block>
	
</html>